* {
    margin: 0;
}

body {
  background-color: beige;
}

/* Barra Superior */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.barra-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0;
    
    background: rgb(101, 231, 192);

  }
  
  .barra-top a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    background-color: rgb(101, 231, 192);
    font-family: "blaka";
    font-size: 30px;
  }
  
  .barra-top a:hover {
    background: #1565C0;
  }
  


/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

.imagenes {
  display: inline;
  gap: 0px;
}

#imagen2 {
  margin-left: -4px;
}

p{
    font-family: 'Blaka', cursive;
    font-size: 60px;
}

section {
  display: inline;
}

h2 {
  text-align: center;
  font-family: "blaka";
  font-size: 50px;
  font-weight: 100;
  
}

.contacto {
  margin-left: 50px;
}


.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: beige;
}

.caja4 {
  background-color: beige;
  
}

.caja5 {
  background-color: beige;

}


.grid {
  display: grid;
  
  grid-template-columns: 50% 50%;
  grid-template-rows: 120px 550px;
  margin-top: 50px;
  background-color: beige;
  
}

.grid > div {
    background-color: beige;
}

.caja1 {
    background-color: beige;
}

.mifuente {
  font-family: "blaka";
  font-size: 50px; 
  font-weight: 100;
  background-color: beige;
  text-align: center;
}

.caja2 {
  /* 
  grid-column-start: 1;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
   */
  padding-top: 10px;
  margin-left: 25%;
  
}

.caja3 {
  text-align: center;
  padding-top: 50px;
}



/* Animación elemento */

.animado1 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: movimientos;
    animation-duration: 10s;
}

@keyframes movimientos {
    0% {transform: translate(200px);}
    50% {font-size: 25px; transform: translate(50px);}
    100% {font-size: 150px; transform: translate(150px, 100px);}
}

.formulario_de_contacto {
  margin-top: 75px;
}


/* ----------------- Formato Responsive ------------------- */

/* Computadoras y Notebooks */

@media all and (max-width: 1080px) {
  .barra-top {
    justify-content: space-around;
  }
  .mifuente {
    font-size: 30px;
  }
  .grid {
    display: block;
  }
  .formulario_de_contacto {
    height: 600px;
  }

  .caja2 {
    height: 600px;
  }

  .caja3 {
    height: 500px;
  }
}
  
/* Celulares */

@media all and (max-width: 600px) {
  
  .barra-top {
    flex-flow: column wrap;
    padding: 0;
  }
  .barra-top a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .barra-top li:last-of-type a {
    border-bottom: none;
  }

  .mifuente {
    font-size: 30px;
  }

  .grid {
    display: block;
  }
  .formulario_de_contacto {
    height: 600px;
    width: 100%;
    
  }

  .caja2 {
    height: 600px;
    margin-left: 50px;
  }

  .caja3 {
    height: 500px;
  }

}

/* ------------ Footer --------------- */

footer {
  background-color: rgb(101, 231, 192);
  
}

.linea {
  border-top: 2px dashed rgb(172, 121, 121);
  margin-left: 25%;
  width: 50%;
}

.contacto {
  
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 999;
  background-color: rgb(101, 231, 192);
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  
}

.whatsapp {
  
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: green;
  background-color: rgb(101, 231, 192);
  margin-bottom: 3px;
  
}

.fa-whatsapp-square {
  color: green;
}

.descripcion2 {
  background-color: rgb(101, 231, 192);
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-bottom: 3px;
}

.links{
  color: black;
  text-align: center;
  font-size: 35px;
  background-color: rgb(101, 231, 192);
  padding-left: 10px;
  
  
}

.grupo_links {
  margin-left: 45%;
}

