* {
  margin: 0;
  
}

body {
  background-color: beige;
}

  
/* Barra Superior */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.barra-top {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      
      list-style: none;
      margin: 0;
      
      background: rgb(101, 231, 192);
  
}
    
.barra-top a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: black;
      background-color: rgb(101, 231, 192);
      font-family: "Blaka";
      font-size: 30px;
}
    
.barra-top a:hover {
      background: #1565C0;
    }

  /* Pulse */
  @-webkit-keyframes hvr-pulse {
      25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
    @keyframes hvr-pulse {
      25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
    .hvr-pulse {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
      -webkit-animation-name: hvr-pulse;
      animation-name: hvr-pulse;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }
  

.grid-container {
    width: 100%;
    height: 1442px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 480px 480px 480px;
    gap: 1px;
    
}

.grid-container > div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* 
    border: 5px;
    border-color: black;
    border-style: dotted;
     */
}

#texto_animado {
  background-color: beige;
  font-family: "blaka";
  font-size: 100px;
}

#texto {
  color: black;
}

#texto2 {
  color: white;
}

#texto_sin_formato {
  color: white;
}

#texto3 {
  color: orangered;
}

h5 {
  color: rgb(73, 22, 190);
}

p {
  color: black;
}

.titulares {
  font-size: 100px;
}

/* Diseño Responsive */  

@media all and (max-width: 1080px) {
    .barra-top {
      justify-content: space-around;
    }
    .titulares {
      font-size: 50px;
    }


  }
  
  @media all and (max-width: 600px) {
    .barra-top {
      flex-flow: column wrap;
      padding: 0;
    }
    .barra-top a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .barra-top li:last-of-type a {
      border-bottom: none;
    }
  }
  
/* Footer */

footer {
  background-color: rgb(101, 231, 192);
  
}

.linea {
  border-top: 2px dashed rgb(172, 121, 121);
  margin-left: 25%;
  width: 50%;
}

.contacto {
  
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 999;
  background-color: rgb(101, 231, 192);
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  
}

.whatsapp {
  
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: green;
  background-color: rgb(101, 231, 192);
  margin-bottom: 3px;
  
}

.descripcion2 {
  background-color: rgb(101, 231, 192);
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-bottom: 3px;
}

.links{
  color: black;
  text-align: center;
  font-size: 35px;
  background-color: rgb(101, 231, 192);
  padding-left: 10px;
  
  
}

.grupo_links {
  margin-left: 45%;
}

